.nav{
    background:#b6b5b5;
    list-style: none;
    display: flex;
    &-item{
       
       &:first-child{
        margin-right: 5px;
       }
    }
    &-link{
        text-decoration: none;
        display: inline-block;
        padding: 20px;
        color: #fff;
        transition:.5s;
        &.active{
            color:red;
        }
        
    }
}