.product-title {
  margin-bottom: 30px;
}

.product-image {
  width: 500px;
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: red;
  border: 0;
  color: white;
}