*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root{
  height: 100vh;
}

.layout{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height:100%;
}
.layout footer{
  background: #2a5ea5;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-size: 20px;
}