.products {
  width: 95%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.products-items {
  width: 68%;
  display: flex;
  justify-content: space-between;
}
.products-items .item {
  width: 24%;
  border: 1px solid #ccc;
  padding: 3px;
}
.products-items .item img {
  width: 100%;
  height: 200px;
}
.products-items .item-info {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.products-items .item-btn {
  width: 100%;
  padding: 5px 0;
  border: 0;
  border-radius: 4px;
  background: #2a5ea5;
  color: #fff;
  cursor: pointer;
}
.products-filter {
  width: 30%;
  background: yellow;
}