%btn {
    padding: 5px;
    background: #fff;
    border: 1px solid #2a5ea5;
    color: #2a5ea5;
    border-radius: 5px;
    cursor: pointer;
}

.cart {
    width: 60%;
    margin: auto;

    &-desc {
        padding: 40px 10px 10px;
    }

    hr {
        border-color: #000;
    }

    &-content {
        padding: 20px 10px;

        .item {
            padding: 10px 8px 10px 5px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            box-shadow: 3px 3px 4px 0 #ccc;

            img {
                width: 100px;
            }

            &-info {
                margin-left: 20px;
                font-size: 14px;
            }

            &-btn {
                margin-left: auto;
                @extend %btn;

            }
        }

        .total {
            margin-top:50px;
            display: flex;
            justify-content: space-between;
            &-price{
                font-size: 24px;
                font-weight:400;
            }
            &-btn {
                @extend %btn;
            }
        }
    }
}