table{
    width: 100%;
    border-collapse: collapse;
    thead{
        color:#fff;
        background: #000;
        th{
            margin: 0;
            width: 20%;
           &:first-child{
            width:40%;
            padding:10px;

           } 
        }
    }
    tbody{
        tr{
            text-align: center;
            background: rgb(214, 211, 211);
           
            td{
                padding: 10px;
                 border-bottom: 1px solid #888;  
                 border-right: 1px solid #888;  
            }
        }
    }
   
}