.cart-content .total-btn, .cart-content .item-btn {
  padding: 5px;
  background: #fff;
  border: 1px solid #2a5ea5;
  color: #2a5ea5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.cart-content .total-btn:hover, .cart-content .item-btn:hover {
  background: #2a5ea5;
  color: #fff;
}

.cart {
  width: 60%;
  margin: auto;
}
.cart-desc {
  padding: 40px 10px 10px;
}
.cart hr {
  border-color: #000;
}
.cart-content {
  padding: 20px 10px;
}
.cart-content .item {
  padding: 10px 8px 10px 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 3px 3px 4px 0 #ccc;
}
.cart-content .item img {
  width: 100px;
}
.cart-content .item-info {
  margin-left: 20px;
  font-size: 14px;
}
.cart-content .item-btn {
  margin-left: auto;
}
.cart-content .total {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.cart-content .total-price {
  font-size: 24px;
  font-weight: 400;
}