.products {
  width: 95%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

  &-items {
    width: 68%;
    display: flex;
    justify-content: space-between;
    

    .item {
      width: 24%;
      border: 1px solid #ccc;
      padding: 3px;
      

      img {
        width: 100%;
        height:200px;
        cursor: pointer;
      }

      &-info {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      &-btn {
        width: 100%;
        padding: 5px 0;
        border: 0;
        border-radius: 4px;
        background: #2a5ea5;
        color: #fff;
      }
    }
  }

  &-filter {
    width: 30%;
  }
}